To change menu items, copy this code in Menues.html between <body></body> tags
Code:

<div class="col-md-5 col-md-offset-3">
    <h3>Edit menu items</h3>
</div>
<div class="col-md-5 col-md-offset-3">
    <a href="{% url 'CreateMenu' %}" class="btn btn-primary">Add New</a>
</div>
<div class="col-md-5 col-md-offset-3">
    <table class="table" border="1">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">My Menu</th>
    </tr>
  </thead>
  <tbody>
  {% for menu in menues %}
  <tr>
      <td>{{ menu.id }}</td>
      <td><a href="{% url 'UpdateMenu' menu.id %}">{{ menu.menutitle }}</a></td>
      <td>{{menu.mymenu}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
