{% load static %}
{% include 'Menues.html' %}
<div class="red-line"></div>
<!-- home section starts  -->
{% for inspiracija in inspiracijaes %}
    {% if inspiracija.clanak %}
        <section class="home" id="home" style="background: url({% static 'img/cistimirisandom.webp' %}) center/cover;">
            <div class="content" >
                <h3>Čist i mirisan dom</h3>
                <p>Kako bi vaš dom ostao besprijekorno čist i svjež, a vi zaštićeni od dosadnih insekata isprobajte Mr. Muscle®, Duck®, Pronto®, Glade®, Raid® i Autan®! </p>
            </div>
        </section>
    {% endif %}
{% endfor %}
<!-- home section ends -->
<!-- section starts  -->
<section class="features" id="features">
    <div class="box-container">
        <a href="">
            <div class="box" style="background: url({% static 'img/cist2.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Stižu blagdani, pun stol i masna hrana. Znate li kako napraviti pravi detox kuhinje?</p>
            </div>
        </a>
        <a href="">
            <div class="box" style="background: url({% static 'img/cist3.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Održiva odjeća i recikliranje- modni hit ili samo mit?</p>
            </div>
        </a>
</section>
<!-- section starts  -->

<!-- section starts  -->
    <section class="features" id="features">
        <div class="box-container">
            <a href="">
                <div class="box" style="background: url({% static 'img/cist4.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Ovih blagdana pokrenite zabavu s novim mirisima u vašem domu!</p>
                </div>
            </a>
            <a href="">
                <div class="box" style="background: url({% static 'img/cist5.webp' %}) center/cover;">
                    <h3>Članak</h3>
                    <p>Plastika utječe na svaki aspekt vodenog života. Koristite li i vi sredstva za čišćenje koja smanjuju zagađenje oceana i mora?</p>
                </div>
            </a>
            <a href="">
                <div class="box" style="background: url({% static 'img/cist6.webp' %}) center/cover;">
                    <h3>Članak</h3>
                    <p>ECOVER - moćna sredstva za čišćenje za blistav dom i čist okoliš</p>
                </div>
            </a>
    </section>
<!-- section ends  -->
<!-- section starts  -->
<section class="features" id="features">
    <div class="box-container">
        <a href="">
            <div class="box" style="background: url({% static 'img/cist7.webp' %}) center/cover;">
            <h3>Članak</h3>
            <p>Insektima je odzvonilo - riješite ih se s još sigurnijim opcijama!</p>
            </div>
        </a>
        <a href="">
            <div class="box" style="background: url({% static 'img/cist8.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Muče vas komarci i krpelji?Imamo mali vodič za prirodnu i djelotvornu zaštitu!</p>
            </div>
        </a>
        <a href="">
            <div class="box" style="background: url({% static 'img/cist9.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Znamo kako u samo 3 koraka učiniti vaš „kraljevski tron“savršeno čistim</p>
            </div>
        </a>
</section>
<!-- section ends  -->
<!-- section starts  -->
<section class="features" id="features">
    <div class="box-container">
        <a href="">
            <div class="box" style="background: url({% static 'img/cist10.webp' %}) center/cover;">
            <h3>Članak</h3>
            <p>Kako održati dom čistim s prirodnim sredstvima koja nezagađuju okoliš?</p>
            </div>
        </a>
        <a href="">
            <div class="box" style="background: url({% static 'img/cist11.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Kako zadržati prirodan izgled drvenih površina i namještaja</p>
            </div>
        </a>
        <a href="">
            <div class="box" style="background: url({% static 'img/cist12.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Moljci: neželjeni gosti u kuhinjskim i garderobnim ormarima. Evo kako ćete ih se riješiti</p>
            </div>
        </a>
</section>
<!-- section ends  -->
<!-- section starts  -->
<section class="features" id="features">
    <div class="box-container">
        <a href="">
            <div class="box" style="background: url({% static 'img/cist13.webp' %}) center/cover;">
            <h3>Članak</h3>
            <p>Želite li se opustiti ili ispuniti energijom?</p>
            </div>
        </a>
        <a href="">
            <div class="box" style="background: url({% static 'img/cist14.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Otkrijte svoj blagdanski miris i upotpunite vaš dom trenucima punim radosti!</p>
            </div>
        </a>
        <a href="">
            <div class="box" style="background: url({% static 'img/cist15.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Komarci i insekti: Evo kako se učinkovito riješiti neugodnih ljetnih nametnika</p>
            </div>
        </a>
</section>
<!-- section ends  -->
<!-- section starts  -->
<section class="features" id="features">
    <div class="box-container">
        <a href="">
            <div class="box" style="background: url({% static 'img/cist16.webp' %}) center/cover;">
            <h3>Članak</h3>
            <p>Kako se djelotvorno i prirodno zaštititi od komaraca i krpelja?</p>
            </div>
        </a>
        <a href="">
            <div class="box" style="background: url({% static 'img/cist17.webp' %}) center/cover;">
                <h3>Članak</h3>
                <p>Tri proizvoda za savršeno čist, dezinficiran i mirisan dom!</p>
            </div>
        </a>
</section>
<!-- section ends  -->
<!-- footer  start -->
<div class="footer" style="background-image: url({% static 'img/footer.png' %});"></div>
<!-- footer  end -->
