{% block ingredients %}

<div class="steps_ingredients_wrapper">
    <div class="ingredients_wrapper">
        <h2>Sastojci</h2>
        <div class="ingredients_list">
            <ul>
                <li>500 g Podravka Glatkog brašna</li>
                <li>1 Dolcela Instant kvasac</li>
                <li>1 žličica soli</li>
                <li>50 g šećera</li>
                <li>140 g hladnog mlijeka</li>
                <li>50 g hladnog maslaca</li>
                <li>250 g hladnog maslaca</li>
            </ul>

            <ul>
                <li>500 g Podravka Glatkog brašna</li>
                <li>1 Dolcela Instant kvasac</li>
                <li>1 žličica soli</li>
                <li>50 g šećera</li>
                <li>140 g hladnog mlijeka</li>
                <li>50 g hladnog maslaca</li>
                <li>250 g hladnog maslaca</li>
            </ul>

            <ul>
                <li>500 g Podravka Glatkog brašna</li>
                <li>1 Dolcela Instant kvasac</li>
                <li>1 žličica soli</li>
                <li>50 g šećera</li>
                <li>140 g hladnog mlijeka</li>
                <li>50 g hladnog maslaca</li>
                <li>250 g hladnog maslaca</li>
            </ul>
        </div>
    </div>
    <div class="ingredients_separator">
    </div>

    <div class="steps_wrapper">
        <h2>Priprema</h2>
        <div class="steps_group">
            <div class="steps_order">1.</div>
            <div class="steps_text">Prvi dan pripremite lisnato tijesto. Od brašna, kvasca, soli, šećera, mlijeka i vode mikserom sa spiralnim nastavcima umijesite tijesto 3-4 minute.</div>
        </div>
        <div class="steps_group">
            <div class="steps_order">2.</div>
            <div class="steps_text">Tijesto će biti dosta suho i tvrdo. Sada dodajte maslac i mijesite dalje dok tijesto ne postane glatko i elastično (8-10 min). Pokrijte ga plastičnom folijom i ostavite na sobnoj minuti pola sata.</div>
        </div>
    </div>
</div>

{% endblock %}